/* stylelint-disable selector-list-comma-newline-after */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.justify-content-center {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
